{% extends 'base.html' %}
{% load bootstrap4 %}
{% block base %}
    <form method="POST" class="mt-5">
        {% csrf_token %}
        
        <!--<h1>{{title}}</h1>-->
        <!-- html태그로 나타내야할때 아래와 같이 하는게 좋음 -->
        {% if request.resolver_match.url_name == 'signup' %}
            <h1 class="text-center">회원가입</h1>
        {% else %}
            <h1>로그인</h1>
        {% endif %}
        <hr>
        {% bootstrap_form form %}
        <input class="btn btn-outline-success" type="submit" value="Submit"/>
    </form>

{% endblock %}