{% extends 'base.html' %}
{% load bootstrap4 %}
<!--allauth를 쓰기 위한 방법-->
{% load socialaccount %}
{% block base %}
        
        <!--<h1>{{title}}</h1>-->
        <!-- html태그로 나타내야할때 아래와 같이 하는게 좋음 -->
        {% if request.resolver_match.url_name == 'signup' %}
            <h1 class="text-center">회원가입</h1>
        {% elif request.resolver_match.url_name == 'edit_profile' %}
            <h1>프로필 수정</h1>
        {% else %}
            <h1>로그인</h1>
        {% endif %}
        <hr>
    <form method="POST" class="mt-5" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn btn-outline-success" type="submit" value="Submit"/>
    </form>
    
    <!-- 카카오 로그인 방법 -->
    {% if request.resolver_match.url_name == 'login' %}
        <a href="{% provider_login_url 'kakao' method='oauth2' %}">Kakao_login</a>
        <a href="{% provider_login_url 'google' method='oauth2' %}">Google</a>
        <a href="{% provider_login_url 'naver' method='oauth2' %}">Naver</a>
    {% endif %}

{% endblock %}